@{
    ViewData["Title"] = "About Us";
}

<h2>About ABC Retail</h2>
<p>
    ABC Retail is your one stop for great products through our trusted sellers to our beloved customers. We deliver speedy products to your doorstep through the best courier services based on your location! With GLOBAL SHIPPING!
</p>
