@{
    ViewData["Title"] = "Contact Us";
}

<h2>Contact Us</h2>
<p>
    Feel free to reach out to us through the following methods:
</p>
<ul>
    <li>Email: ABCRetail@sales.co.za</li>
    <li>Phone: 072 8282 322</li>
    <li>Address: Sales Street 4, Open Sesame ave</li> <!--(W3Schools, 2018) -->
</ul>
