@{
    ViewData["Title"] = "Home";
}

<h2>Welcome to ABC Retail</h2> <!--(IIE, 2024 -->
<p>
    ABC Retail delivers high quality products to your doorstep through our delivery methods, below is an example of our highly sought products.
</p>

<div class="product-gallery">
    <div class="product-item">
        <img src="/images/Product3.jpg" alt="Product 1">
        <h3>Product 1</h3>
        <p>A Popular product on your website!.</p>
    </div>
    <div class="product-item">
        <img src="~/images/Product4.jpg" alt="Product 2">
        <h3>Product 2</h3>
        <p>Hot in your area!.</p>
    </div>
    <div class="product-item">
        <img src="~/images/Product5.jpg" alt="Product 3">
        <h3>Product 3</h3>
        <p>You might like.</p> 
    </div>
</div>
