@{
    ViewData["Title"] = "Products";
}

<h2>Our Products</h2>
<ul>
    <li>Product 1 <button>Edit</button> <button>Update</button> <button>Delete</button></li>
    <li>Product 2 <button>Edit</button> <button>Update</button> <button>Delete</button></li>
    <li>Product 3 <button>Edit</button> <button>Update</button> <button>Delete</button></li>
    <li>Product 4 <button>Edit</button> <button>Update</button> <button>Delete</button></li>
    <li>Product 5 <button>Edit</button> <button>Update</button> <button>Delete</button></li> <!--(W3Schools, 2018) -->
</ul>
